html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}

.toggle:before {
  content: '+';
  position: absolute;
  font-size: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.toggle.active:before {
  transform: rotate(405deg);
  background: #f7be16;
  color: #000;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  border-width: 0px;
  background-color: rgb(218, 218, 218);
}

.overlay.active {
  transform: scale(100, 100);
}

.menu {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 500px;
  overflow: hidden;
  visibility: hidden;
}

.menu.active {
  visibility: visible;
  position: fixed;
  transition-delay: 0.5s;
  animation: scale 1s;
}

@keyframes scale {
  0% {
      transform: scaleY(0.8);
  }
  100% {
      transform: scaleY(1);
  }
}

.menu ul {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  line-height: 100px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.menu ul li a:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -10px;
  width: 100%;
  height: 20px;
  background: #f7be16;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.menu ul li a:hover:before {
  transform: scaleX(1);
}

@media (max-width: 700px) {
  .menu.active {
      margin-top: 50px;
      margin-left: 250px;
      position: fixed;
  }

  .menu ul li a {
      position: relative;
      text-decoration: none;
      color: #fff;
      font-size: 35px;
      line-height: 100px;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }

  .toggle:before {
    line-height: 55px;
  }
}

@media (max-width: 570px) {
  .menu.active {
      margin-left: 100px;
      position: fixed;
      width: auto;
      height: auto;
      margin-top: 50px;
  }

  .menu ul li a {
      position: relative;
      text-decoration: none;
      color: #fff;
      font-size: 30px;
      line-height: 80px;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }

  .toggle:before {
    line-height: 55px;
  }
}

/* Create two unequal columns that floats next to each other */

/* Left column */

.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

* {
  box-sizing: border-box;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Add a gray background color with some padding */

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

