html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

/* Header/Blog Title */

.header {
  font-size: 40px;
  text-align: center;
  background: #fd3301;
  padding: 100px 0;
}

.header h2 {
  color: white;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
}

.toggle:before {
  content: '+';
  position: absolute;
  font-size: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.toggle.active:before {
  transform: rotate(405deg);
  background: #fd3301;
  color: #000;
}

.overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  border-width: 0px;
  background-color: rgb(218, 218, 218);
}

.overlay.active {
  transform: scale(100, 100);
  z-index: 1;
}

.menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}

.menu.active {
  margin-top: 5%;
  margin-left: 40%;
  z-index: 1;
  visibility: visible;
  position: fixed;
  transition-delay: 0.5s;
  animation: scale 1s;
}

@keyframes scale {
  0% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}

.menu ul {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 5vw;
  line-height: 8vw;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.menu ul li a:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -10px;
  width: 100%;
  height: 20px;
  background: #fd3301;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.menu ul li a:hover:before {
  transform: scaleX(1);
}

/* Add a card effect for articles */

.card {
  position: fixed;
  float: right;
  right: 5%;
  bottom: 4%;
  width: 40%;
  background-color: white;
  padding: 20px;
  
}

/* Clear floats after the columns */

.row {
  margin: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  background-color: #fd3301;
  margin-top: 100px;
  text-align: center;
  height: 160px;
}

.footer span {
  display: flex;
  justify-content: center;
  height: 50px;
}

.footer img {
  margin: 20px;
}

.footer ul {
  list-style: none;
}

.pages {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.pages-cta {
  text-decoration: none;
  padding-right: 30px;
  padding-left: 50px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.show {
  display: block;
}

.content {
  position: relative;
  max-width: 600px; /* Maximum width */
  margin: 20px; /* Center it */
}

.content img {
  width: 100%;
  vertical-align: middle;
}

.content .card1 {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px;
}

@media screen and (max-width: 370px) {
  .main-header {
    font-size: 3rem;
  }
  
  .main p {
    font-size: 1rem;
  }
  
  .pages-cta {
    padding: 0px 6px;
  }
  
  .footer p {
    position: relative;
    bottom: 0;
    margin: 0px;
  }
  
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: absolute;
  width: 500px;
  right: 20px;
  top: 370px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 50px;
}
.mySlides img{
  width:500px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
.content .card1 .p {
  padding-top: 20px;
  visibility: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .menu.active {
    margin-top: 50px;
    margin-left: 250px;
    position: fixed;
  }
  .menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    line-height: 100px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }
  .toggle:before {
    line-height: 55px;
  }
  
}

@media screen and (max-width: 1024px){
  .row {
    align-content: center;
    margin-left: 18%;
  }
  
  .container {
    position: relative;
    align-content: center;
    left: 15%;
    width: 70%;
    top: 20%;
  }

  .mySlides {
    width: 100%;

  }

  .mySlides img{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu.active {
    position: fixed;
    width: auto;
    height: auto;
  }
  .menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }
  .toggle:before {
    line-height: 55px;
  }
  .footer {
    text-align: center;
    height: 170px;
    margin-top: 20px;
  }
  .container {
    position: relative;
    align-content: center;
    left: 12%;
    width: 70%;
    top: 20%;
  }

  .mySlides {
    width: 100%;

  }

  .mySlides img{
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .menu.active {
    position: fixed;
    width: auto;
    height: auto;
  }
  .menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }
  .toggle:before {
    line-height: 55px;
  }
  .menu.active {
    margin-left: 20%;
    margin-top: 20%;
  }
  .container {
    position: relative;
    align-content: center;
    left: 15%;
    width: 70%;
    top: 20%;
  }

  .mySlides {
    width: 100%;

  }

  .mySlides img{
    width: 100%;
  }

  .pages-cta {
    padding: 0px 6px;
  }
  .footer p {
    bottom: 0;
    margin: 0px;
  }
}