* {
    margin: 0px;
    padding: 0px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 10vw;
    letter-spacing: 2px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    list-style-type: none;
  }


  /* --------------------------NavBar i responzivnost-------------------- */
  .toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
  }
  
  .toggle:before {
    content: '+';
    position: absolute;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  
  .toggle.active:before {
    transform: rotate(405deg);
    background: #f7be16;
    color: #000;
    z-index: 1;
  }
  
  .overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    border-width: 0px;
    background-color: rgb(218, 218, 218);
    
  }
  
  .overlay.active {
    transform: scale(100, 100);
    z-index: 1;
  }
  
  .menu {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 500px;
    overflow: hidden;
    visibility: hidden;
    z-index: 1;
  }
  
  .menu.active {
    margin-top: 100px;
    visibility: visible;
    position: fixed;
    transition-delay: 0.5s;
    animation: scale 1s;
  }
  
  @keyframes scale {
    0% {
        transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1);
    }
  }
  
  .menu ul {
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    line-height: 100px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }
  
  .menu ul li a:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -10px;
    width: 100%;
    height: 20px;
    background: #fd3301;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .menu ul li a:hover:before {
    transform: scaleX(1);
  }
  
  @media (max-width: 700px) {
    .menu.active {
        margin-top: 50px;
        margin-left: 250px;
        position: fixed;
    }
  
    .menu ul li a {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 35px;
        line-height: 100px;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    }
  
    .toggle:before {
      line-height: 55px;
    }
  }
  
  @media (max-width: 570px) {
    .menu.active {
        margin-left: 100px;
        position: fixed;
        width: auto;
        height: auto;
        margin-top: 50px;
    }
  
    .menu ul li a {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        line-height: 80px;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    }
  
    .toggle:before {
      line-height: 55px;
    }
  }

  /* ---------------Sadrzaj---------------- */

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 40%;
    padding: 0 10px;
    margin-bottom: 50px;
    margin-top: 150px;  
    /* Treba margin bottom da se ne preklapa sa karticom ispod */
  }
  
  /* Gnjavila je druga 0, pravila visak na densoj strani  gore desno dole levo*/ 
  .row {margin: 20px 20px 20px 350px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      
    }
    .row{
        margin-left: 90px;

    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px;       visak   */
    text-align: center;
    background-color: #fff;
  }

  .Epizode{
      height: 400px;
      background-color: #fd3301;
      padding: 100px;
      margin-bottom: 100px;
      text-align: center;
  }
  h3 {
    font-size: 6vw;
    letter-spacing: 2px;
  }

  .Naslov{
    height: 10px;
    
    padding: 50px;
    text-align: center;
  }

  .flip-card-back p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  padding-top: 60px;
}
 /* ----------------------FLip card --------------------------*/
.column {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.column:hover .card {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  
}

  /* --------------------------CTA i Footer-------------------- */

  .call-to-action {
    margin-top: 150px;
    text-align: center;
  }
  
  .call-to-action h1 {
    text-align: center;
    width: 100%;
    font-size: 50px;
  }

  .btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 30px;
    background-color: rgb(80, 77, 77);
    border-width: 0px;
      text-decoration: none;
    color: #fff;
  }

  .btn:hover {
    background-color: #fd3301;
    transition: 0.3s;
    cursor: pointer;
  }
  

  .footer {
    background-color: #fd3301;
    margin-top: 100px;
    text-align: center;
    height: 160px;
  }
  
  .footer span {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  
  .footer img {
    margin: 20px;
  }
  
  .pages {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .pages-cta {
    padding-right: 30px;
    padding-left: 50px;
  }
  
  /* Responsive */
  @media (max-width: 850px) {
    .main-header {
      font-size: 10rem;
    }
  
    .main p {
      font-size: 2.5rem;
    }
  
    .content img {
      height: 30%;
      width: 50%;
    }
  
    .content ul {
      float: none;
      text-align: center;
    }
  
    .content ul li {
      position: relative;
      top: 50px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: none;
    }
  
    .content ul li img {
      position: relative;
      left: 25%;
      margin: 20px;
      text-align: center;
    }
  
    .content ul li .info {
      text-align: center;
      float: none;
      margin: 20px;
      width: 100%;
    }
  
    .content ul li .info a {
      margin-top: 50px;
    }
  
    .list-item .list-item2 {
      float: none;
    }
  
  }
  
  @media (max-width: 600px) {
  
    .listen {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .btn {
      margin-top: 0px;
    }
  
    .main-header {
      font-size: 5rem;
    }
  
    .footer {
      text-align: center;
      height: 170px;
      margin-top: 20px;
    }
  
    .call-to-action {
      margin: 100px 30px;
    }
  
    .pages-cta {
      padding-left: 20px;
      padding-right: 30px;
    }
  
  }