* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5rem;
  letter-spacing: 2px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/* Navabr */
.upcast-img {
  position: fixed;
  border-radius: 50%;
  width: 70px;
  margin-left: 15px;
  top: 20px;
  z-index: 1;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}

.toggle:before {
  content: '+';
  position: absolute;
  font-size: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.toggle.active:before {
  transform: rotate(405deg);
  background: #f7be16;
  color: #000;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  border-width: 0px;
  background-color: rgb(218, 218, 218);
}

.overlay.active {
  transform: scale(100, 100);
}

.menu {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 500px;
  overflow: hidden;
  visibility: hidden;
}

.menu.active {
  visibility: visible;
  position: fixed;
  transition-delay: 0.5s;
  animation: scale 1s;
}

@keyframes scale {
  0% {
      transform: scaleY(0.8);
  }
  100% {
      transform: scaleY(1);
  }
}

.menu ul {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  line-height: 100px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.menu ul li a:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -10px;
  width: 100%;
  height: 20px;
  background: #f7be16;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.menu ul li a:hover:before {
  transform: scaleX(1);
}

@media (max-width: 700px) {
  .menu.active {
      margin-top: 50px;
      margin-left: 250px;
      position: fixed;
  }

  .menu ul li a {
      position: relative;
      text-decoration: none;
      color: #fff;
      font-size: 35px;
      line-height: 100px;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }

  .toggle:before {
    line-height: 55px;
  }
}

@media (max-width: 570px) {
  .menu.active {
      margin-left: 0px;
      margin-right: 20px;
      position: fixed;
      width: auto;
      height: auto;
      margin-top: 50px;
  }

  .menu ul li a {
      position: relative;
      text-decoration: none;
      color: #fff;
      font-size: 30px;
      line-height: 80px;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
  }

  .toggle:before {
    line-height: 55px;
  }
}

/* Landing Page */
.main {
  text-align: center;
  margin-top: 100px;
}

.btn {
  width: 200px;
  height: 55px;
  font-size: 20px;
  border-radius: 30px;
  background-color: rgb(80, 77, 77);
  border-width: 0px;
	text-decoration: none;
  color: #fff;
}

.btn:hover {
  background-color: #fd3301;
  transition: 0.3s;
  cursor: pointer;
}

.phone {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 400px;
}

/* Članci i epizode */
.content {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-item {
  float: right;
  height: 300px;
  width: 100%;
  flex-direction: row;
}

.list-item .info {
  padding-left: 20px;
  padding-top: 40px;
}

.list-item img {
  margin-left: 0px;
  float: left;
  width: 400px;
  margin-right: 30px;
}

.list-item2 {
  float: left;
  height: 300px;
  width: 100%;
  flex-direction: row;
}

.list-item2 .info {
  padding-top: 40px;
  float: left;
  width: 400px;
}

.list-item2 img {
  width: 400px;
  float: right;
}

.call-to-action {
  margin-top: 100px;
  text-align: center;
}

.call-to-action h1 {
  margin: 50px 200px;
  text-align: center;
}

.footer {
  background-color: #fd3301;
  margin-top: 150px;
  text-align: center;
  height: 160px;
}

.footer span {
  display: flex;
  justify-content: center;
  height: 50px;
}

.footer img {
  margin: 20px;
}

.pages {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.menu {
  padding-right: 30px;
  padding-left: 50px;
}